# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# App Configuration
NEXT_PUBLIC_APP_NAME=FutureSea
NEXT_PUBLIC_APP_DESCRIPTION=Casino web3 game on solana

# Solana Configuration
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com 

SOCKET_URL=
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
OFFLINE=false
PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_JWT=
NEXT_PUBLIC_GATEWAY_URL=
NEXT_PUBLIC_TREASURY=
NEXT_PUBLIC_SOLANA_RPC=
NEXT_PUBLIC_NETWORK=